<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div class="container">
    <h2>Login</h2>
    <form id="loginForm">
    <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" />
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" />
        </div>
        <button type="button" onclick="submitForm()">Login</button>
    </form>
    <script src="/js/script.js"></script>

</div>
</body>
</html>
